body {
  background-image: url("../main/assets/img/bgwhite.png");
}
h2   { color: #FFF;font-size: 60px;
  font-weight: 700;line-height: 72px;
}
/*header*/
.header__bottom-content_fixed {  position: fixed; top: 0; width: 100%; height: 85px;  display: flex;
  justify-content: space-between;
  align-items: center;transition: 0.3s;    z-index: 2;
  background: white;}
.header__top-content {
  margin: 8px 0;transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  .header_info {
    color: black;
    font-size: 20px;
    font-weight: 600;
  }
  .header_tel a {
    color: black;
    font-size: 20px;
    font-weight: 600;
  }
  .header_btn a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 9px 20px;
    background: white;
    border-radius: 30px;cursor: pointer;border: 1px solid #000;

  }
  .header_btn a:hover {background: var(--Yellow, #FC0);color: white;transition: 0.3s  }
}
.header__bottom-content {transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 142px;
}
.header__bottom-content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo img {
  margin-left: 70px;
}
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 116px 143px 100px 40px;
  margin: 0;
  box-sizing: border-box;
  width: 625px;
  background-color: white;
  height: 100%;
  top: 0;
  right: -625px;
  transition: right .2s;
  z-index: 3;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  padding: 0px;
  position: relative;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: right .23s;

  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu-close {
  color: #fff;
  padding: 0px;
  position: absolute;
  top: 40px;
  right: 143px;
  cursor: pointer;
  transition: right .23s;

  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 8px;

}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -8px;
}
.hidden-menu  .mob-logo-menu { display: none;  position: absolute;top: 38px;}
.hidden-menu  .mob-logo-menu img {  width: 94px;height: 45.91px;    }


.mob-social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;margin-top: 92px; margin-bottom: 40px;    gap: 15px;

}
.mob-social-menu img { max-height: 40px }
.mob-social-menu .icon { width: 50px;text-align: center}
.mob-social-menu .icon a {     color: black;
  font-size: 10px;line-height: 14px;
  font-weight: 600;}
.mob-social-menu a {     color: black;
  font-size: 10px;
  font-weight: 600;
text-align: center;
}

.mob-social-menu .icon-width-one {     }
.mob-social-menu .icon-width-two {    }
.mob-social-menu .icon-width-three {         }
.mob-time-menu p {  color: white; font-size: 20px;line-height: 28px;}
.mob-time-menu  .mob-time-menu-one-text   {margin-bottom: 20px;color: black;
  font-size: 18px;line-height: 25px;
}
.mob-time-menu    .mob-time-menu-two .mob-time-menu-bron {  font-size: 18px;color: black;line-height: 25px;margin-bottom: 20px;}
.mob-time-menu  .mob-time-menu-two p:first-child    {margin-bottom: 20px   }
.mob-time-menu  .mob-time-menu-two p:nth-child(2) {margin-bottom: 30px}
.mob-time-menu .mob-time-menu-two-tel a {margin-bottom: 20px;color: black; font-size: 20px;line-height: 28px;}
.mob-time-menu  .mob-time-menu-three {color: black; font-size: 20px;line-height: 28px; margin-top: 30px   }

.mob-time-menu .mob-time-menu-one-time {color: black; font-size: 20px;line-height: 28px;     width: 240px;
  margin-bottom: 30px;  }

.header_section_switch {     position: fixed;padding-top: 30px;
  background-image: url("../main/assets/img/bgdark.png");
  top: 0px;
  z-index: 2;
  width: 100px;
  height: calc(100% - 100px);
  display: flex;justify-content: center;    background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 90px 0px;
p {  border-radius: 30px;
  background: #FC0;color: white;
  transform: rotate(270deg);
  display: block;text-align: center;
  font-family: Mulish;
  font-size: 30px;font-weight: 600;margin-top: 30px;

  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;padding-left: 20px;padding-right: 20px;


}
}


@media (max-width: 1600px) {
  .header_logo img {      margin-left: 20px;}
  .header__top-content .header_btn a {  padding: 10px  }
  .header__top-content .header_info { font-size: 18px}
  .header__top-content .header_tel a { font-size: 18px}
}
@media (max-width: 1530px) {
  .header__top-content .header_info_two { display: none}
  .header__bottom-content { height: 130px}
}

@media (max-width: 1280px) {
  .header_section_switch {
    width: 55px;
    height: calc(100% - 80px);
    p {font-size: 20px;height: 34px;    padding: 0 10px;
    }
  }
}

@media (max-width: 1200px) {
  .header__top-content .header_info {      font-size: 12px;}

}

@media (max-width: 1030px) {
  .header__bottom-content { height: 110px}
  .header_section_switch {
    width: 20px;
    height: 126px;padding-top: 0;align-items: center;border-radius: 0px 190px 190px 0px; top: 175px;
    p {font-size: 10px;height: 14px;    padding: 0 10px;margin-top: 0;
    }
  }
}

@media (max-width: 760px) {
  .mob-social-menu { gap: 10px}
  .header_section_switch {
   top: 86px;  }

.header__top-content { display: none}
  .header__bottom-content { height: 86px}
}
@media (max-width: 650px) {
  .mob-social-menu a { line-height: 13px}
  .hidden-menu { width: 100%;padding: 116px 15px 100px 40px;}
  .btn-menu-close {      right: 15px;}
}
@media (max-width: 450px) {
  .hidden-menu {padding: 116px 15px 100px 20px;}
.mob-social-menu .icon img {width: 26px;height: 26px; }
  .mob-social-menu .icon p {  font-size: 10px;line-height: 12px;margin-top: 5px}
  .header_logo img {  width: 94px;
    height: 45.91px;}
  .hidden-menu  .mob-logo-menu { display: block}
}


/*end header*/
/*footer*/
footer {
  background-image: url("assets/img/bgfooter.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 140px;
  padding: 63px 120px 30px 120px;
  position: relative;    background-position: top;z-index: 2;
  .logo {      width: 300px;}
  .logo img { height: 90px}
  .footer_bottom {  display: flex;justify-content: space-between;margin-top: 39px;
    color: white;
    a { color: white}
  }
  .mob-footer-politika {
    display: none;
    color:white ;
  }
  .mob-footer-politika a {
    color: white;
  }
  .desc-mobile {
    display: flex;
    width: 66%;
    justify-content: space-around;
  }
  .social {
    width: auto;padding-top: 38px;
  }
  .footer-p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
  }
  .footer-p-two {width: 270px;
    font-size: 20px;
    font-weight: 600;    line-height: 28px;
    margin-bottom: 10px;
    color: white;
    a {
      color: white;
    }
  }
  .footer-p-two-right {
    line-height: 28px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: right;
  }
  .direkt {

    width: 160px;

    text-align: right;
    color: white;
  }
  .social a {
    color: white;
  }
}
footer .social-inner {
  width: auto;
  justify-content: space-between;    justify-content: flex-end;

  display: flex;gap: 15px;
  .icon {
    text-align: center;
    width: 46px;display: inline-block;
  }
}
footer .social .social-inner-p {
  margin-bottom: 15px;
  color: white;
}
footer .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .desc-inner {
    height: 97px;
  }
}
@media (max-width: 1770px) {

  footer .social {
    padding-top: 20px;
  }

}
@media (max-width: 1600px) {
  footer .desc-mobile { width: 100%}
  footer .footer-p-two-right { text-align: left}

}
@media (max-width: 1500px) {

  footer .desc {
    align-items: flex-start;
    justify-content: space-around;
  }
}
@media (max-width: 1430px) {
  footer .desc .desc-inner {
    height: 100%;
  }
  footer .footer-p-two-right {

  }
  footer .desc-mobile {
    flex-direction: column;
    width: 262px;
    .desc-inner {
      margin-bottom: 30px;
    }
  }
  footer .social-inner {  justify-content: flex-start;}
}





@media (max-width: 1200px) {
  footer {
    margin-top: 150px;
  }
  footer .social-inner {

  }
  footer .desc {
    flex-direction: column;
  }
  footer .desc-mobile {
    flex-wrap: wrap;height: 71px;margin-bottom: 30px;
  }


  footer .footer-p-two   { width: 100%}
  footer .footer-block-bronirovanie {   padding-left: 15px;}

}
@media (max-width: 1200px) {
  footer .desc {
    max-width: 370px;
  }

}


@media (max-width: 1024px) {
  footer {
    margin-top: 100px;
  }
}
@media (max-width: 900px) {
  footer {
    padding: 100px 20px 50px 20px;
  }
}

@media (max-width: 850px) {
  footer .logo img { width: 140px;}
  footer .logo {
    width: 172px;
  }
}



@media (max-width: 768px) {
  footer {
    margin-top: 60px;
  }
  footer .direkt {
    bottom: -30px;
  }
}


@media (max-width: 700px) {
  footer .social-inner {  width: 253px;}
  footer .footer-block-bronirovanie {   padding-left: 0px;}
}
@media (max-width: 650px) {
  footer {

      background-image: url("assets/img/mob_bgfooter.svg");

    padding: 30px 0px 46px 0px;

    .logo img {  height: 67px;   }
    .logo {    width: 100%; margin-bottom: 30px; text-align: center }

    .footer_bottom {   margin-top: 20px;  flex-direction: column; justify-content: space-between;text-align: center}
    .footer-p-two-right {
      margin-bottom: 30px;
      width: 100%;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      .social-inner-p {
        margin-bottom: 15px;
      }

      text-align: center;
    }
    .desc-inner {
      margin: 0 auto;
    }
    .desc-mobile {
      width: 100%;      height: 100%;margin-bottom: 0px;
      display: grid;
    }
    .direkt {
      top: 0;
      margin-top: 0px;
      position: relative;
      text-align: center;
      width: 100%;
    }
    .social {
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
    .desc {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
    .social-inner {
      width: 100%;
      gap: 15px;
      justify-content: center;
      margin-bottom: 30px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 30px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .footer-politika {
      display: none;
    }
    .mob-footer-politika {
      display: block;
      width: 100%;
    }
    .social img {
      height: 67px;
    }
    .social .icon img {
      width: 46px;
      height: 46px;
    }
    .footer-p {
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
    }
    .footer-p-two {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 0;    width: 230px;
    }

    .footer_bottom .social-inner-p { display: none}

  }
}


@media (max-width: 350px) {

  footer .social .icon img {
    width: 40px;
    height: 40px;
  }

  footer .social-inner {
    gap: 10px;
  }
  footer .social { width: 80%}
}
/*end footer*/




